[Desktop Entry]
Version=1.0
Name=Data Guardian
Comment=Backup and Data Management Tool
Exec=/app/bin/dataguardian.sh
Icon=com.github.geovanejefferson.dataguardian
Type=Application
Terminal=false
Categories=Utility;System;
StartupNotify=true
Encoding=UTF-8
